.App {
}

.App-header {
  background-color: white;
  border: 2px dotted;
  // height: 150px;
  padding: 20px;
  color: grey;
}

.App-intro {
  font-size: large;
}

.messages {
    padding: 20px red;
    border: 2px dotted;
    text-align: left;
    align: center;
}

.messages > code {
    background: rgb(192,240, 192);
    padding: 20px;
    margin: 20px;
    width: 90%;
    white-space: pre;
    display: block;
}
