.App {
}

.App-header {
  background-color: white;
  border: 2px dotted;
  // height: 150px;
  padding: 20px;
  color: grey;
}

.App-intro {
  font-size: large;
}

.translation-units {
    margin-left: 1em;
}

.normal-tum {
    background: rgb(192,240,192);
    margin: 20px;
    padding: 5px 0px 5px 0px;
}

.abnormal-tum {
    background: rgb(240,192,192);
    margin: 20px;
    padding: 5px 0px 5px 0px;
}

.message {
    text-align: left;
    align: center;
    margin: 5px;
    border: dotted 2px black;
}

.message > code {
    padding: 10px;
    width: 90%;
    white-space: pre;
    display: block;
}
